.content p, .content a, .content h1{
    font-family:'Times New Roman', Times, serif;
}

.p1subContent1{
    background-image: url("bg/samplebg.jpeg");
    
    
    text-align: center;
    font-size: xx-large;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.p1subContent2{
    background-image: url("bg/samplebg2.jpeg");

    font-size: xx-large;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.p1subContent3{
    background-image: url("bg/samplebg3.jpeg");

    /* padding: 100px 40px 60px 40px; */
    padding-left: 40px;
    padding-right: 40px;
    /* height: 95vh; */

    font-size: larger;
    text-align:center;

    display:flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 5vw;
}

.p1subContent4{
    background-image: url("bg/samplebg4.jpeg");

    height: 85vh;

    font-size: xx-large;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.univDiv{
    background-color: rgba(255, 255, 255, 0.50);
    height: 85%;
    padding: 10px 10px 10px 10px;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vh;

    border: solid black 1px;
    border-radius: 2%;
}

/* .content p, .content h1 {
    display: inline-block;
    /* background-color : rgba(255, 255, 255, 0.10); */
    /* background-color: yellow;
    text-shadow: black 3px 3px;
} */

.videoContainer {
    /* position: relative; */
    /* overflow: hidden; */
    aspect-ratio: 16/9;
    width: 50vw;
    /* padding-top: 60vh; */
    /* height:90px;
    width:90px; */
  }

.ytEmbed {
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

.univLogo{
    aspect-ratio: 1/1;
    width: 20vw;
    border: solid 1px black;
    border-radius: 50%;
}

.univSite, .socialSites{
    border: solid 1px black;
    padding: 0.3em 0.3em 0.3em 0.3em ;

    background-color:darkslateblue;

    font-size: larger;

    text-shadow: 0 0 0;
}

.univSite a, .socialSites a{
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#githubLogo{
    height: 1em;
    width: 1em;
}