.p2subContent1{
    background-image: url("bg/samplebg5.jpeg");
    
    text-align: center;

    font-size: xx-large;

    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    text-align: left;
}