*{
    margin: 0;
    padding: 0;
}

html{
    background-color: lightgray;
}

html, body{
    height: 100%;
}

.mainpage{
    background-image: url("assets/samplebg.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.page2{
    background-image: url("assets/samplebg2.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

header{
    color: white;
    background-color: black;
    height: 5vh;
    /* margin-bottom: 10px; */
    padding: 10px 10px 10px 10px;
    display:flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    
    background-color: white;
    border-bottom: lightgray solid 3px;
}
.globalHeader h1, .globalHeader a {
    color: black;
}

.content{
    background-color: rgba(255, 255, 255, 0.80);
    text-align: center;
    margin: auto auto;
    /* margin-bottom: 10px; */
    /* width: 100vw; */
    /* height: 100vw; */
    padding: 30px 30px 30px 30px;
    /* border: black solid 1px; */
    text-wrap: wrap;
    display:flex;
    justify-content: center;
    align-items: center;
}

.page2 .content{
    height:2000px;
}

p, a, h1{
    font-family:Arial, Helvetica, sans-serif;
    word-break: break-all;
}

.content p, .content a, .content h1{
    font-family:'Times New Roman', Times, serif;
    word-break: break-all;
}

.p1subContent1{
    background-image: url("assets/samplebg3.jpeg");
    background-size: cover;
    background-attachment: fixed;
    border-bottom: black solid 1px;
    height: 90vh;

    color: white;
    /* text-align: left; */
    justify-content: left;

    font-size: xx-large;
}

/* .p1subContent1 h1{
    font-family: 'Times New Roman', Times, serif;
} */

.p1subContent2{
    background-image: url("assets/samplebg4.jpeg");
    background-size: cover;
    background-attachment: fixed;
    height: 95vh;

    color: white;
    /* text-align: right; */
    justify-content: right;

    font-size: xx-large;
}

.p2subContent1{
    background-image: url("assets/samplebg5.jpeg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    color: white;
    text-align: left;
}

.content p, .content h1 {
    display: inline-block;
    /* background-color : rgba(255, 255, 255, 0.10); */
    /* background-color: yellow; */
    text-shadow: black 3px 3px;
}